header {
  padding: 0 7px;
  /* width: 100%; */
}
.header-logo {
  font-family: "Montez", cursive;
  color: blue;
  margin-top: 10px;
  font-size: 30px;
  font-weight: normal;
}

.sub-heading {
  font-family: "Ubuntu Mono";
  margin-top: -27px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  margin-top: 7px;
}

.header-button {
  background-color: blue;
  /* border: none; */
  border: 1px solid gray;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  /* font-size: 15px; */
}

#signUpButton {
  margin-right: 10px;
}
#close-div,
#content-div {
  display: inline;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.4);
}
.signUp-content,
.signIn-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 60%;
}
.close,
.close-signIn {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
}
.close:hover,
.close:focus,
.close-signIn:hover,
.close-signIn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.signUp-title,
.signIn-title,
.create-post-title {
  border-bottom: 1px solid black;
}
input {
  height: 25px;
  padding: 3px;
  background-color: #e2e8f0;
  border: none;
}
input:active {
  border: 0.2px solid gray;
}

.sign-up-button,
.sign-in-button {
  height: 30px;
  background-color: rgb(7, 184, 75);
  color: white;
  border: none;
  cursor: pointer;
}

.not-a-member-button {
  color: blue;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}
