header {
  padding: 10px 15px 0 15px;
  /* width: 100%; */
}
.header-logo {
  font-family: "Montez", cursive;
  color: blue;
  margin-top: 10px;
  font-size: 30px;
  font-weight: normal;
}

.sub-heading {
  font-family: "Ubuntu Mono";
  margin-top: -27px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  margin-top: 7px;
}

.header-button {
  background-color: blue;
  /* border: none; */
  border: 1px solid gray;
  color: white;
  padding: 13px 30px;
  cursor: pointer;
  /* font-size: 15px; */
}

#signUpButton {
  margin-right: 15px;
}
#close-div,
#content-div {
  display: inline;
}

.signUp-content,
.signIn-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 60%;
}
.signUp-title,
.signIn-title,
.create-post-title {
  border-bottom: 1px solid black;
}
input {
  height: 25px;
  padding: 8px;
  background-color: #f1f1f1;
  outline: none;
  border: 0px;
  margin-bottom: 15px;
}

textarea {
  background-color: #f1f1f1;
  outline: none;
  border: 0px;
  margin-bottom: 15px;
  padding: 8px 0 0 8px;
  max-width: 99%;
  height: 250px;
}

input:active {
  border: 0.2px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto";
}

.sign-up-button,
.sign-in-button {
  height: 40px;
  background-color: rgb(7, 184, 75);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
}

.not-a-member-button {
  color: blue;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;

  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  margin-top: -10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
  font-family: "Roboto";
}

.header-modal-heading {
  font-size: 25px;
  /* font-weight: 600; */
  font-family: "Roboto";
  color: #818181;
}

.modal-line {
  margin-top: -15px;
}

.modal-top-section {
  margin-top: -20px;
}

.signin {
  margin-top: 150px;
}

.not-a-member-question {
  font-family: "Roboto";
  text-align: center;
}

.sign-up-text {
  color: blue;
  cursor: pointer;
}
